{% extends 'base.html' %}
{% load static %}
{% block title %}Log in |{% endblock %}
{% block content %}

<body>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		</symbol>
	</svg>
    <style>
        .body{
            background-image: linear-gradient(-0deg, #ffffff 0%, #ffffff 100%);
        }
    </style>
	<img class="wave1" src="{% static 'img/wave.png' %}">
	<div class="container1">
		<div class="img1">
		</div>
		<div class="login-content">
			
			<form method="post">
            {% csrf_token %}
				
				<img src="{% static 'img/nttflogo.png' %}">
				<h2 class="title">Login</h2>
				{% if form.errors %}
					<div class="alert alert-danger d-flex align-items-center alert-dismissible" role="alert">
						<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
						<div>
						Check your username and password
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					</div>
				{% endif %}
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		    <div class="div">
                        <input type="text" name="username" class="input" required placeholder="Username / email">
                    </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" name="password" class="input" required placeholder="Password">
            	   </div>
            	</div>
                <br>
            	<a href="{% url 'password_reset' %}" class="text-black">Forgot Password?</a>
                {% if form.errors %}
                {% for fields in form %}
                    {% for erros in field.errors %}
                        <div class="">
                            <p>{{ error|escape }}</p>
        
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
                <button class="btn1">Login</button>
            	<a href="{% url 'signup' %}" class="text-black">New user?</a>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="main.js"></script>
</body>
{% endblock %}