{% extends 'registration/registerbase.html' %}

{% load crispy_forms_tags %}
{% block title %}Password Reset Form{% endblock %}
{% block content %}
  <div class="card login-form shadow-lg p-3 mb-5 bg-body rounded">
    <div class="card-body">
      <h3 class="card-title text-center">Reset password</h3>
      <div class="card-text">
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
            {{form|crispy}}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
